.custom-plugin .contact-form-wrap .btn-wrap .btn {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 50px;
    min-width: 160px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 20px;
}
.custom-plugin select{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.custom-plugin .form-control{
    height: 40px;
    border: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 8px 20px;
}
.custom-plugin .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	    border: 1px solid #555;
}
select.form-control {
    background-image: linear-gradient(45deg, transparent 50%, #009DE0 50%), linear-gradient(135deg, #009DE0 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(16px + 2px), calc(100% - 15px) calc(16px + 2px), 100% 0;
    background-size: 7px 6px, 6px 7px, 2.5em 2.5em;
    background-repeat: no-repeat;
}

.custom-plugin textarea.form-control {
	height: auto;
}

.custom-plugin .test {
	border-top: 4px solid #009de0;
    padding-top: 45px;
}

.custom-plugin .lt-blue-bg {
    background-color: #009DE0;
}

.add-new-button {
	float: right;
	margin-top: 20px;
}